section {
    min-height: calc(100vh - 172px);
    background-color: #9DB2BF;
  }
  
  header {
    background-color: #526D82;
  }
  
  footer {
    background-color: #27374D;
  }

  .custom-img {
    width: 300px;
    height: auto; 
  }
  
  .footer-icons-container {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
  }

  .btn {
    margin: 1px !important;
  }
  
  .nav-item.active .nav-link {
    color: white;
    font-weight: bold;
  }
  
  .tech-h4 {
    margin-bottom: 2rem
  }